<nav class="navbar">
    <div class="container-fluid col-md-12">
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav col-md-8 navig">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li class="active navigation_container" ui-sref-active="active" ui-sref="app.overview"><a href="/overview">Overview</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</nav>
